# Cambiar la IP por la ip del dispositivo que ejecuta el backend (PC / Laptop). Usar ipconfig en la CMD y copiar
# La ipv4
EXPO_PUBLIC_API_EMULATOR_URL=http://10.0.2.2:3000/api
EXPO_PUBLIC_API_DEVICE_URL=http://192.168.1.36:3000/api

EXPO_PUBLIC_SOCKET_EMULATOR_URL=http://10.0.2.2:3000
EXPO_PUBLIC_SOCKET_DEVICE_URL=http://192.168.1.36:3000