@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    /* INTER */
    --font-inter: "Inter_18pt-Regular";
    --font-inter-light: "Inter_18pt-Light";
    --font-inter-medium: "Inter_18pt-Medium";
    --font-inter-bold: "Inter_18pt-Bold";

    /* MANROPE */
    --font-manrope: "Manrope-Regular";
    --font-manrope-light: "Manrope-Light";
    --font-manrope-medium: "Manrope-Medium";
    --font-manrope-bold: "Manrope-Bold";

    /* POPPINS */
    --font-poppins: "Poppins-Regular";
    --font-poppins-light: "Poppins-Light";
    --font-poppins-medium: "Poppins-Medium";
    --font-poppins-bold: "Poppins-Bold";

    /* MODO CLARO (Cero fatiga visual) */
    --color-primary: #00a343;
    --color-secondary: #d1d7e0;
    --color-tertiary: #e6f4ea;
    --color-surface: #f5f7f9;
    --color-success: #10b981;
    --color-error: #dc2626;
    --color-text: #0f172a;
    --color-text-muted: #64748b;
    --color-background: #eaedf1;

    /* Invertidos */
    --color-primary-inverse: #00c853;
    --color-secondary-inverse: #2a2e2c;
    --color-tertiary-inverse: #1a241f;
    --color-surface-inverse: #1a1a1e;
    --color-success-inverse: #00e676;
    --color-error-inverse: #ff5252;
    --color-text-inverse: #f3f7f6;
    --color-text-muted-inverse: #7c8783;
    --color-background-inverse: #121214;
}

/* MODO OSCURO */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #00c853;
        --color-secondary: #2a2e2c;
        --color-tertiary: #1a241f;
        --color-surface: #1a1a1e;
        --color-success: #00e676;
        --color-error: #ff5252;
        --color-text: #f3f7f6;
        --color-text-muted: #7c8783;
        --color-background: #121214;

        /* Invertidos */
        --color-primary-inverse: #00a343;
        --color-secondary-inverse: #d1d7e0;
        --color-tertiary-inverse: #e6f4ea;
        --color-surface-inverse: #f5f7f9;
        --color-success-inverse: #10b981;
        --color-error-inverse: #dc2626;
        --color-text-inverse: #0f172a;
        --color-text-muted-inverse: #64748b;
        --color-background-inverse: #eaedf1;
    }
}